%h1 Response: Idea

%h2 XML Structure

.response.box
  .tag.i0
    .name idea
  .tag.i1
    .name id
    .description== (integer) ID of the idea. Clients generally #{should_not} display IDs to users.
  .tag.i1
    .name created-at
    .description (timestamp) Time the idea was posted.
  .tag.i1
    .name inappropriate-flags
    .description (integer) Number of times the idea has been flagged as inappropriate.
  .tag.i1
    .name rating
    .description (integer) The idea's current score in voting.
  .tag.i1
    .name title
    .description (text) Title of the idea.
  .tag.i1
    .name description
    .description== (sanitized HTML) Content of the idea. The description #{may} include HTML tags. If so, any tags will be escaped, or encoded in a CDATA section.
  .tag.i1
    .name user-has-voted<span class='meta'>?</span>
    .description (boolean) Present only if the request included oauth credentials. Indicates whether the oauth user has already voted for this idea.
  .tag.i1
    .name duplicate-of<span class='meta'>?</span>
    .description Present only if the idea is marked as a duplicate of another idea. If so, includes the ID and title of the parent idea.
  .tag.i2
    .name id
  .tag.i2
    .name title
  .tag.i1
    .name inventor
    .description== (#{link 'Profile', './profile.html'}) Descibes the inventor of this idea.
  .tag.i1
    .name tags
    .description== (#{link 'Tag List', './tags.html'}) List of tags attached to this idea.
  .tag.i1
    .name comments<span class='meta'>?</span>
    .description== (#{link 'Comment', './comment.html'}) The response for a #{link 'show idea', 'requests/idea-show.html'} request includes a &lt;comments&gt; tag, containing the full text of comments. However...
  .tag.i1
    .name comment-count<span class='meta'>?</span>
    .description (integer) ...in all other responses, the idea only includes an integer count of comments.
  
%h2 Example

.xml<
  :preserve
    &lt;idea&gt;
      &lt;id&gt;6&lt;/id&gt;
      &lt;created-at&gt;2009-11-03 15:14:14 UTC&lt;/created-at&gt;
      &lt;inappropriate-flags&gt;0&lt;/inappropriate-flags&gt;
      &lt;rating&gt;1&lt;/rating&gt;
      &lt;title&gt;Stage Blue Shirt song and dance numbers&lt;/title&gt;
      &lt;description&gt;Best Buy needs more singing and dancing. Employees could perform elaborate musical numbers about the virtues of different flat-screen TVs.&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;Walking into Best Buy should be like entering a musical!&lt;/description&gt;
      &lt;user-has-voted&gt;true&lt;/user-has-voted&gt;
      &lt;inventor&gt;
        &lt;id&gt;2&lt;/id&gt;
        &lt;name&gt;Paul&lt;/name&gt;
        &lt;created-at&gt;2009-10-14 19:45:52 UTC&lt;/created-at&gt;
        &lt;contribution-points&gt;52&lt;/contribution-points&gt;
        &lt;admin&gt;false&lt;/admin&gt;
      &lt;/inventor&gt;
      &lt;tags&gt;
        &lt;tag&gt;
          &lt;id&gt;7&lt;/id&gt;
          &lt;name&gt;entertainment&lt;/name&gt;
        &lt;/tag&gt;
        &lt;tag&gt;
          &lt;id&gt;8&lt;/id&gt;
          &lt;name&gt;singing and dancing&lt;/name&gt;
        &lt;/tag&gt;
        &lt;tag&gt;
          &lt;id&gt;6&lt;/id&gt;
          &lt;name&gt;stores&lt;/name&gt;
        &lt;/tag&gt;
      &lt;/tags&gt;
      &lt;comments&gt;
        &lt;comment&gt;
          &lt;id&gt;2&lt;/id&gt;
          &lt;idea-id&gt;6&lt;/id&gt;
          &lt;created-at&gt;2009-11-03 15:15:14 UTC&lt;/created-at&gt;
          &lt;inappropriate-flags&gt;0&lt;/inappropriate-flags&gt;
          &lt;text&gt;Oh no! I hate musicals!&lt;/text&gt;
          &lt;author&gt;
            &lt;id&gt;2&lt;/id&gt;
            &lt;name&gt;Jill&lt;/name&gt;
            &lt;created-at&gt;2009-10-14 19:45:52 UTC&lt;/created-at&gt;
            &lt;contribution-points&gt;72&lt;/contribution-points&gt;
            &lt;admin&gt;false&lt;/admin&gt;
          &lt;/author&gt;
        &lt;/comment&gt;
        &lt;comment&gt;
          &lt;id&gt;3&lt;/id&gt;
          &lt;idea-id&gt;6&lt;/id&gt;
          &lt;created-at&gt;2009-11-03 15:16:14 UTC&lt;/created-at&gt;
          &lt;inappropriate-flags&gt;0&lt;/inappropriate-flags&gt;
          &lt;text&gt;Hooray for singing!&lt;/text&gt;
          &lt;author&gt;
            &lt;id&gt;2&lt;/id&gt;
            &lt;name&gt;Tom&lt;/name&gt;
            &lt;created-at&gt;2009-10-14 19:45:52 UTC&lt;/created-at&gt;
            &lt;contribution-points&gt;14&lt;/contribution-points&gt;
            &lt;admin&gt;false&lt;/admin&gt;
          &lt;/author&gt;
        &lt;/comment&gt;
      &lt;/comments&gt;
    &lt;/idea&gt;
