- results = collection.recent_visible(:offset => offset, :limit => limit+1)
- has_more = results.size >= limit+1

= render :partial => partial,
    :collection => (has_more ? results[0...-1] : results),
    :locals => { :idea_link => true, :show_avatar => false }

- if has_more
  - results_dom_id = "more_#{model}_#{Time.now.to_f}"
  - link_dom_id = "link_#{results_dom_id}"
  .results-placeholder{:id => results_dom_id, :style => 'display:none'}
  .more{:id => link_dom_id}
    = link_to_remote 'More...',
        :url => profile_path(@user, :recent => model, :offset => offset + limit, :limit => limit * 5 / 4 + 1),
        :update => results_dom_id,
        :complete => visual_effect(:blind_down, results_dom_id, :duration => 0.5) + visual_effect(:fade, link_dom_id, :duration => 0.3)
