<%#= stylesheet_link_tag "master" %>

<div class="body_wrap">
  <!--Left Panel Starts -->
  <div class="left_panel">
    <!--Profile Top Stuff Starts -->
    <div class="profile_wrap">
      <div class="plainwrap">
        <!--User Name Starts -->
        <div class="fl"><h2><%#=link_to @user.name, edit_user_path%><%=@user.name%></h2></div>
        <!--User Name Ends -->
        <!--Follow Link Starts -->
        <div class="fr" style="margin-top:10px">
          <%if !(current_user == @user)%>
            <%if !(current_user_has_relationship_with(@user))%>
              <%=link_to "Følg #{@user.name}", follow_path(@user), :class => "bold_link"%>
            <%else%>
              <%= link_to "Stop følg #{@user.name}", unfollow_path(@user), :class => "bold_link" %>
            <%end%>
          <%end%>

        </div>
        <!--Follow Link Ends -->
      </div>
      <!--Breaker Starts -->
      <div class="b_divider"></div>
      <!--Breaker Ends -->
      <!--User Detail Stuff Starts -->
      <div class="plainwrap">
        <!--Profile Image Starts -->
        <div class="user_imgwrap"> <%= image_tag profile_picture(@user, :large), :width => 85, :height => 130 %></div>
        <!--Profile Image Ends -->
        <!--User Detail Stuff Starts -->
        <div class="user_dwrap"><table width="100%" border="0" cellspacing="1" cellpadding="2">
            <tr>
              <td width="135" align="left" valign="middle"><strong>Afdeling</strong></td>
              <td align="left" valign="middle">
                <div class="fl"><%= @user.department.try(:name) %></div>
                <!--<div class="fr" style="color:#2cafa4"><%#= link_to_remote t('menu.ideas_following'),:update => "ajax-tab", :url => {:controller => "users", :action => "current_ideas"},:html => { :class => "bold_link"} %>  |   <%#= link_to_remote t('menu.currents_following'), :update => "ajax-tab", :url => {:controller => "users", :action => "current_currents"}, :html => {:class => "bold_link"}%></div>-->
              </td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Email</strong></td>
              <td align="left" valign="middle"><div class="fl"><%=mail_to @user.email%></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Tlf nr</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.phone%></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal ideer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.ideas.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal kommentarer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.ideas.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal stemmer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.votes.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal point</strong></td>
              <td align="left" valign="middle"><div class="fl"><%=  @user.recent_contribution_points || 0 %> point</div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">
                <div class="fr"><%= link_to "følger : #{@user.following.length }", following_path(@user.id), :class => "f_link" %>
                  <%=link_to "følges af : #{@user.followers.length }", followers_path(@user.id), :class => "f_link"%></div>
              </td>
            </tr>
          </table>
        </div>
        <!--User Detail Stuff Ends -->
      </div>
      <!--User Detail Stuff Ends -->
    </div>
    <!--Profile Top Stuff Ends -->
    <!--Tab Panel Starts -->
    <div class="tab_wrap">
      <!--Tab Starts -->
      <ul class="tabs">
        <div style="display: none;" id="active_tabs">tab1</div>
        <!--
        <a href="#tab1" onclick="$('active_tabs').innerHTML = 'tab1';" id="link_tab1" style="display: none;">Ideer</a>
        <li><%= link_to_remote "Ideer", :url => "#", :onclick => 'document.getElementById("link_tab1").click();' %></li>
        -->
        <li><a href="#tab1" onclick="$('active_tabs').innerHTML = 'tab1';" id="link_tab1">Ideer</a></li>
        <li><a href="#tab2" onclick="$('active_tabs').innerHTML = 'tab2';" id="link_tab2">Kommentarer</a></li>
        <li><a href="#tab3" onclick="$('active_tabs').innerHTML = 'tab3';" id="link_tab3">Stemmer</a></li>
        <li><a href="#tab4" onclick="$('active_tabs').innerHTML = 'tab4';" id="link_tab4">Favoritter</a></li>
        <li><a href="#tab5" onclick="$('active_tabs').innerHTML = 'tab5';" id="link_tab5">Følger mig</a></li>
      </ul>

      <div class="tab_container">
        <!--Ideer container Starts -->
        <div id="tab1" class="tab_content">
          <!--Header Portion Starts -->
          <div class="tab_headline">
            <div class="fl"><strong>Her er <%= @user.name %>'s egne ideer</strong></div>
            <!--Pagination Starts -->
            <div class="fr">
              <%= will_paginate @ideas, :next_label =>"Næste &raquo;", :previous_label => "&laquo; Forrige"%>
            </div>
            <!--Pagination Ends -->
          </div>
          <!--Header Portion Ends -->
          <!--Green Panel Starts -->
          <% @ideas.each_with_index do |idea,i| %>
            <% unless idea.nil? %>
              <div id="idea-<%=idea.id%>">
                <% if idea.status == "new" %>
                  <div class="green_wrap" style="height: auto;">
                  <% elsif idea.status == "under review" || idea.status == "review" %>
                    <div class="yellow_wrap" style="height: auto;">
                    <% else %>
                      <div class="blue_wrap" style="height: auto;">
                      <% end %>
                      <!--Stemt Stuff Starts -->

                      <div id="stem-<%= idea.id %>" class="stem">

                        <p id="vote-<%= idea.id %>"><%= h "#{idea.vote_count}"%></p>

                        <% if has_voted?(idea)%>

                        <% else%>
                          <%= link_to_remote "#{t('vote')}!", :update => "vote-#{idea.id}", :url => idea_vote_path(idea.id), :complete => visual_effect(:highlight, "vote-#{idea.id}", :duration => 0.8), :html =>{:class => "bigstem_button",}%>
                        <% end %>
                      </div>


                      <!--Stemt Stuff Ends -->
                      <!--Right Content Starts -->
                      <div class="p_content">
                        <!--Content Head Starts -->
                        <div class="p_content_head">
                          <div class="fl">Sendt <strong><%= time_ago_in_words(idea.created_at)%> siden</strong> af <%=link_to idea.inventor.name, profile_path(idea.inventor), :class => "bold_link"%></div>
                          <div class="fr" style="width:169px;">
                            <div class="fl">
                              <% unless idea.idea_followers.empty? %>
                                <%= link_to "#{idea.idea_followers.collect(&:user).uniq.size} følger ideen", followers_idea_path(idea.id), :style => "color:#0f645d; margin-right:8px;"  %>

                              <% end %>

                              <% if  current_user.roles.collect(&:name).include?("admin") %>

                                <%= link_to_remote "Delete Idea", :update => "idea-#{idea.id}", :url => destroy_idea_idea_path(idea), :method => :delete %>
                              <% end %>
                            </div>
                            <div class="fr">
                              <%= link_to "Stop følg", unfollow_idea_path(idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).nil?%>
                              <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).blank? %>
                                <% form_tag idea_follow_path do%>
                                  <%= hidden_field_tag :idea_id, idea.id%>
                                  <%= submit_tag "Følg denne", :class => "idea_submit"%>
                                <% end %>
                              <% end %>
                            </div>

                          </div>
                        </div>
                        <!--Content Head Ends -->
                        <!--Posted Content Starts -->
                        <div class="plainwrap">
                          <h3><%=link_to h(idea.title), idea_path(idea) unless idea.title.nil?%></h3>
                          <p><%= h idea.description_excerpt %> </p>
                        </div>



                        <!--Posted Content Ends -->
                        <div class="plainwrap">
                          <div class="d_panel_commentator_big" style="height:auto;">
                            <div class="fl"><%= link_to "#{t('menu.comments')} #{"(#{idea.comment_count})"}", idea_path(idea, :anchor => 'comments', :title_in_url => false)%></div>
                            <div class="tag_container">
                              <div class="fl" style="margin-top:5px;"><img src="/images/tag-icon.png" alt="" /></div>
                              <div class="tag_container_inner">
                                <% unless idea.tags.empty?%>
                                  <% idea.tags.each_with_index do |tag, ctr|%>
                                    <%unless ctr == idea.tags.length - 1%>
                                      <%= link_to h(tag.name)+"," , idea_search_path(:search => ['tag', tag.name]) %>
                                    <%  else %>
                                      <%= link_to h(tag.name)+",", idea_search_path(:search => ['tag', tag.name]) %>
                                    <% end %>
                                  <% end %>
                                <% end %>

                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                      <!--Right Content Ends -->
                    </div>



                    <!--Green Panel Ends -->
                    <!--Breaker Starts -->
                    <div class="b_divider"></div>
                  </div>
                  <!--Breaker Ends -->
                  <!--Yellow Panel Starts -->
                <% end %>
              <% end %>

              <!--Yellow Panel Ends -->
              <!--Breaker Starts -->
              <div class="fr">
                <%= will_paginate @ideas, :next_label =>"Næste &raquo;", :previous_label => "&laquo; Forrige" %>
              </div>

              <!--Breaker Ends -->
            </div>
            <!--Ideer container Ends -->
            <!--Kommentarer container Starts -->
            <div id="tab2" class="tab_content">
              <!--Header Portion Starts -->
              <div class="tab_headline">
                <div class="fl"><strong>Her er <%= @user.name %>'s kommentarer </strong></div>
                <!--Pagination Starts -->
                <div class="fr">
                  <ul class="pagination">
                    <!--<li><a href="#">«</a></li> -->
                    <%= will_paginate @comments, :next_label =>"Næste &raquo;", :previous_label => "&laquo; Forrige" %>
                  </ul>
                </div>
                <!--Pagination Ends -->
              </div>
              <!--Heade Portion Ends -->
              <!--Comments1 Starts -->
              <% @comments.each do |comment| %>
                <div class="plainwrap">
                  <!--Commentator Starts -->
                  <div class="commentator_panel">
                    <div class="commentator_wrap_green"><%= link_to h(comment.author.name), profile_path(comment.author)%></div>
                    <div class="plainwrap">
                      <div class="fl"><%= image_tag profile_picture(comment.author, :small)%></div>
                    </div>
                  </div>
                  <!--Commentator Ends -->
                  <!--Posted Comments Starts -->
                  <div class="comments_wrap_green" id="<%= 'details_'+comment.id.to_s %>">
                    <!--Content Head Starts -->
                    <div class="p_content_head">
                      <div class="fl">Sendt <strong><%="#{time_ago_in_words(comment.created_at)}"%> <%= t("ago")%> </strong> som svar på <%= link_to h(comment.idea.title), idea_path(comment.idea)%></div>
                    </div>
                    <!--Content Head Ends -->
                    <!--Posted Content Starts -->
                    <div class="plainwrap" style="min-height:50px; margin-bottom:10px;">
                      <p><%= user_formatted_text comment.text%></p>
                    </div>
                    <!--Posted Content Ends -->
                    <%= "Vedhæftninger" %>(<%=comment.comment_documents.size%>)<span style="<%= !comment.comment_documents.empty? ? 'color: #0F645D;font-weight: bold; padding:4px; cursor: pointer;' : 'color: #0F645D;padding:4px;font-weight: bold;'%>"
                                                               onclick="<%if !comment.comment_documents.empty?%>
                                                                 if($(this).innerHTML == 'Vis'){$(this).innerHTML = 'Skjul';}else{$(this).innerHTML = 'Vis';}
                                                                 if($('attachments_<%=comment.id%>').style.display == 'none'){
                                                                 $('attachments_<%=comment.id%>').style.display = 'block';}
                                                                 else{
                                                                 $('attachments_<%=comment.id%>').style.display = 'none';}<%end%> "><%if !comment.comment_documents.empty?%>Vis<%end%></span>
                    <div id="<%= 'attachments_'+comment.id.to_s %>" style="display: none; padding:5px;">
                      <%if !comment.comment_documents.empty?%>
                        <% comment.comment_documents.each do |cd|%>
                          <li style="width: 30%; float:left; list-style-type: none;">
                            <%= link_to cd.document_file_name, cd.document.url if cd.document.url != "/documents/original/missing.png"%></li>
                        <%end%>
                      <%end%>
                    </div>
                  </div>
                  <!--Posted Comments Ends -->
                </div>
                <!--Breaker Starts -->
                <div class="b_divider"></div>
              <% end %>

            </div>
            <!--Kommentarer container Ends -->
            <!--Stemmer container Starts -->
            <div id="tab3" class="tab_content" style="height:550px;">
              <!--Header Portion Starts -->
              <div class="tab_headline">
                <div class="fl"><strong>Her er <%= @user.name %>’s stemmer</strong></div>
                <!--Pagination Starts -->
                <div class="fr">
                  <%= will_paginate @votes, :next_label =>"Næste &raquo;", :previous_label => "&laquo; Forrige" %>
                </div>
                <!--Pagination Ends -->
              </div>
              <!--Heade Portion Ends -->
              <!--Vote Panel1 Starts -->
              <% @votes.each do |vote| %>

                <div class="plainwrap">
                  <div class="vote_check"></div>
                  <div class="vote_panel">
                    <div class="fl"><%=  link_to h(truncate(vote.idea.title, :length => 50, :separator => ' ')), idea_path(vote.idea), :class => "bold_link"%></div>
                    <div class="fr">Posted <%=time_ago_in_words(vote.idea.created_at)%>  <%=t("ago")%></div>
                  </div>
                </div>
                <!--Breaker Starts -->
                <div class="b_divider"></div>
              <% end %>
              <div class="fr">
                <%= will_paginate @votes, :next_label =>"Næste &raquo;", :previous_label => "&laquo; Forrige" %>
              </div>
            </div>

            <div id="tab4" class="tab_content" style="height:auto;">
              <div class="tab_headline">

                <div class="fl" id="headline">
                  <%= link_to_remote "Ideer, som #{@user.name} følger", :url => {:controller => "profiles", :action => "current_ideas", :id => @user.id}, :html => {:class => "", :style => "font-size:13px;"} %>
                  |
                  <%= link_to_remote "Hovedveje som #{@user.name} følger", :url => {:controller => "profiles", :action => "current_currents", :id => @user.id}, :html => {:class=>"bold_link", :style => "font-size:13px;"}%>
                  |
                  <%= link_to_remote "Kollegaer, som #{@user.name} følger", :url => {:controller => "profiles", :action => "my_followers", :id => @user.id}, :html => {:class => "bold_link", :style => "font-size:13px;"}%>


                </div>
              </div>
              <div id="ajax-load">
                <div class="tab_headline">
                  <div class="fl"><strong> Ideer, som <%= @user.name %> følger</strong></div>
                </div>

                <% @my_ideas.each do |idea| %>
                  <% unless idea.nil? %>
                    <div id="idea-<%= idea.id %>">
                      <% if  idea.status == "new"   %>
                        <div class="green_wrap" style="height:auto;">
                        <% elsif idea.status == "under review" || idea.status == "reviewed"%>
                          <div class="yellow_wrap" style="height:auto;">
                          <% else %>
                            <div class="blue_wrap" style="height:auto;">
                            <% end %>
                            <!--stem Stuff Starts -->
                            <div class="stem" id="vote-<%= idea.id %>">

                              <%= h "#{idea.vote_count}"%>
                              <% unless has_voted?(idea)%>
                                <%= link_to_remote "#{t('vote')}!", :update => "vote-#{idea.id}", :url => idea_vote_path(idea.id), :complete => visual_effect(:highlight, "vote-#{idea.id}", :duration => 0.8), :html =>{:class => "bigstem_button"}%>
                              <% end %>
                            </div>



                            <!--stem Stuff Ends -->
                            <!--Right Content Starts -->
                            <div class="p_content">
                              <!--Content Head Starts -->
                              <div class="p_content_head">
                                <div class="fl">Sendt <strong><%= time_ago_in_words(idea.created_at)%> siden</strong> af <%=link_to idea.inventor.name, profile_path(idea.inventor), :class => "bold_link" unless idea.inventor.nil?%></div>
                                <div class="fr" style="width:169px;">
                                  <div class="fl">
                                    <% unless idea.idea_followers.empty? %>
                                      <%= link_to "#{idea.idea_followers.collect(&:user).uniq.size} følger ideen", followers_idea_path(idea.id), :style => "color:#0f645d; margin-right:8px;"  %>

                                    <% end %>
                                    <% if  current_user.roles.collect(&:name).include?("admin") %>

                                      <%= link_to_remote "Delete Idea", :update => "idea-#{idea.id}", :url => destroy_idea_idea_path(idea), :method => :delete %>
                                    <% end %>
                                  </div>
                                  <div class="fr">
                                    <%= link_to "Stop følg", unfollow_idea_path(idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).nil?%>
                                    <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).blank? %>
                                      <% form_tag idea_follow_path do%>
                                        <%= hidden_field_tag :idea_id, idea.id%>
                                        <%= submit_tag "Følg denne", :class => "idea_submit"%>
                                      <% end %>
                                    <% end %>
                                  </div>

                                </div>
                              </div>
                              <!--Content Head Ends -->
                              <!--Posted Content Starts -->
                              <div class="plainwrap">
                                <h3><%= link_to h(idea.title), idea_path(idea) unless idea.title.nil?%></h3>
                                <p><%= h idea.description_excerpt%> </p>
                              </div>
                              <!--Posted Content Ends -->

                              <div class="d_panel_commentator_big">
                                <div class="fl"><%= link_to "#{t('menu.comments')} #{"(#{idea.comment_count})" }", idea_path(idea, :anchor => 'comments', :title_in_url => false)%></div>
                                <div class="tag_container">
                                  <div class="fl" style="margin-top:5px;"><img src="/images/tag-icon.png" alt="" /></div>
                                  <div class="tag_container_inner">
                                    <% unless idea.tags.empty?%>
                                      <% idea.tags.each_with_index do |tag, ctr|%>
                                        <%unless ctr == idea.tags.length - 1%>
                                          <%= link_to h(tag.name)+"," , idea_search_path(:search => ['tag', tag.name]) %>
                                        <%  else %>
                                          <%= link_to h(tag.name)+",", idea_search_path(:search => ['tag', tag.name]) %>
                                        <% end %>
                                      <% end %>
                                    <% end %>

                                  </div>
                                </div>
                              </div>

                            </div>
                            <!--Right Content Ends -->
                          </div>
                          <!--Green Panel Ends -->
                          <!--Breaker Starts -->
                          <div class="b_divider"></div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!--Tab Panel Ends -->
            <div id="tab5" class="tab_content" style="height:auto;">
              <div class="tab_headline">
                <div class="fl"><strong>Følger mig</strong></div>
              </div>

              <%= render :partial => "user_lists" %>

            </div>


          </div>
          <!--Left Panel Ends -->
          <!--Right Panel Starts -->
          <div class="right_panel">
            <div class="plainwrap"><div id="sidebar" class="aside"><%= render :partial => "shared/sidebar" %></div></div>
            <div class="plainwrap"><a href="/user/index" class="bold_link" style=" padding-left: 10px;"><%=t("all_users")%></a></div>
            <!--Display Section Starts -->
            <div id="ajax-tab">

            </div>
            <!--Display Section Ends -->
          </div>
          <!--Right Panel Ends -->
        </div>
      </div>

    </div>