<%#= stylesheet_link_tag "master" %>
<div class="body_wrap">
  <!--Left Panel Starts -->
  <div class="left_panel">
    <!--Profile Top Stuff Starts -->
    <div class="profile_wrap">
      <div class="plainwrap">
        <!--User Name Starts -->
        <div class="fl"><h2><%#=link_to @user.name, edit_user_path%><%=@user.name%></h2></div>
        <!--User Name Ends -->
        <!--Follow Link Starts -->
        <div class="fr" style="margin-top:10px"><%=link_to "Follow #{@user.name}", follow_path(@user), :class => "bold_link"%></div>
        <!--Follow Link Ends -->
      </div>
      <!--Breaker Starts -->
      <div class="b_divider"></div>
      <!--Breaker Ends -->
      <!--User Detail Stuff Starts -->
      <div class="plainwrap">
        <!--Profile Image Starts -->
        <div class="user_imgwrap"> <%= image_tag profile_picture(@user, :large) %></div>
        <!--Profile Image Ends -->
        <!--User Detail Stuff Starts -->
        <div class="user_dwrap"><table width="100%" border="0" cellspacing="1" cellpadding="2">
            <tr>
              <td width="135" align="left" valign="middle"><strong>Afdelings navn</strong></td>
              <td align="left" valign="middle">
                <div class="fl"><%= @user.department.try(:name) %></div>
                <div class="fr" style="color:#2cafa4"><%= link_to_remote t('menu.ideas_following'),:update => "ajax-tab", :url => {:controller => "users", :action => "current_ideas"} %>  |   <%= link_to_remote t('menu.currents_following'), :update => "ajax-tab", :url => {:controller => "users", :action => "current_currents"}%></div>
              </td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Email</strong></td>
              <td align="left" valign="middle"><div class="fl"><%=@user.email%></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Tlf nr</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.phone%></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal ideer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.ideas.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal kommentarer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.ideas.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal stemmer</strong></td>
              <td align="left" valign="middle"><div class="fl"><%= @user.votes.length %></div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle"><strong>Antal point</strong></td>
              <td align="left" valign="middle"><div class="fl"><%=  @user.recent_contribution_points || 0 %> points</div></td>
            </tr>
            <tr>
              <td width="135" align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">
                <div class="fr"><%= link_to "Following : #{@user.following.length }", following_path(@user.id), :class => "f_link" %> <%=link_to "Followers : #{@user.followers.length }", followers_path(@user.id), :class => "f_link"%></div>
              </td>
            </tr>
          </table>
        </div>
        <!--User Detail Stuff Ends -->
      </div>
      <!--User Detail Stuff Ends -->
    </div>
    <!--Profile Top Stuff Ends -->
    <!--Tab Panel Starts -->
    <div class="tab_wrap">
      <!--Tab Starts -->
      <ul class="tabs">
        <li><a href="#tab1">Ideer</a></li>
        <li><a href="#tab2">Kommentarer</a></li>
        <li><a href="#tab3">Stemmer</a></li>
      </ul>
      <div class="tab_container">
        <!--Ideer container Starts -->
        <div id="tab1" class="tab_content">
          <!--Header Portion Starts -->
          <div class="tab_headline">
            <div class="fl"><strong>These are some of the ideas that <%= @user.name %> created.</strong></div>
            <!--Pagination Starts -->
            <div class="fr">
              <ul class="pagination">
                <!--<li><a href="#">«</a></li> --> 
                <li><a href="#" class="select">1</a></li>
                <li><a href="#">2</a></li> 
                <li><a href="#">3</a></li> 
                <li><a href="#">»</a></li>
              </ul>
            </div>
            <!--Pagination Ends -->
          </div>
          <!--Header Portion Ends -->
          <!--Green Panel Starts -->
          <% @ideas.each_with_index do |idea,i| %>
            <% if i ==0 %>
              <div class="green_wrap">
              <% elsif i ==1 %> 
                <div class="yellow_wrap">
                <% else %>
                  <div class="blue_wrap">
                  <% end %>  
                  <!--Stemt Stuff Starts -->
                  <div class="stemt"><%=  idea.vote_count%></div>
                  <!--Stemt Stuff Ends -->
                  <!--Right Content Starts -->
                  <div class="p_content">
                    <!--Content Head Starts -->
                    <div class="p_content_head"><
                      <div class="fl">Sendt <%= time_ago_in_words(idea.created_at)%> <strong>dage siden</strong> af <%=link_to idea.inventor.name, profile_path(idea.inventor), :class => "bold_link"%></div>
                      <div class="fr">
                        <% unless idea.idea_followers.empty? %>
                          <%= link_to "Followers(#{idea.idea_followers.size})", followers_idea_path(idea.id), :style => "color:#0f645d; margin-right:8px;"  %>
                          <%= link_to "Unfollow", unfollow_idea_path(idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).nil?%>
                        <% end %>
                        <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).blank? %>
                          <% form_tag idea_follow_path do%>
                            <%= hidden_field_tag :idea_id, idea.id%>
                            <%= submit_tag "Follow", :class => "idea_submit"%>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <!--Content Head Ends -->
                    <!--Posted Content Starts -->
                    <div class="plainwrap">
                      <h3><%=link_to h(idea.title), idea_path(idea) unless idea.title.nil?%></h3>
                      <p><%= h idea.description_excerpt %> </p>
                    </div>
                    <!--Posted Content Ends -->
                  </div>
                  <!--Right Content Ends -->
                </div>
                <!--Green Panel Ends -->
                <!--Breaker Starts -->
                <div class="b_divider"></div>
                <!--Breaker Ends -->
                <!--Yellow Panel Starts -->
              <% end %>

              <!--Yellow Panel Ends -->
              <!--Breaker Starts -->
<%#*<div class="b_divider"></div>%>
              <!--Breaker Ends -->
              <!--Blue Panel Starts -->

              <!--Blue Panel Ends -->
              <!--Breaker Starts -->

              <!--Breaker Ends -->
            </div>
            <!--Ideer container Ends -->
            <!--Kommentarer container Starts -->
            <div id="tab2" class="tab_content">
              <!--Header Portion Starts -->
              <div class="tab_headline">
                <div class="fl"><strong>These are some of the comments that Erik Sørup posted. </strong></div>
                <!--Pagination Starts -->
                <div class="fr">
                  <ul class="pagination">
                    <!--<li><a href="#">«</a></li> --> 
                    <li><a href="#" class="select">1</a></li>
                    <li><a href="#">2</a></li> 
                    <li><a href="#">3</a></li> 
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
                <!--Pagination Ends -->
              </div>
              <!--Heade Portion Ends -->
              <!--Comments1 Starts -->
              <% @comments.each do |comment| %>
                <div class="plainwrap">
                  <!--Commentator Starts -->
                  <div class="commentator_panel">
                    <div class="commentator_wrap_green"><%= link_to h(comment.author.name), profile_path(comment.author)%></div>
                    <div class="plainwrap">
                      <div class="fl"><%= image_tag profile_picture(comment.author, :small)%></div>
                      <div class="download"><%= link_to image_tag("/images/download.png"), comment.document.url, :border => "0" %></div>
                    </div>
                  </div>
                  <!--Commentator Ends -->
                  <!--Posted Comments Starts -->
                  <div class="comments_wrap_green">
                    <!--Content Head Starts -->
                    <div class="p_content_head">
                      <div class="fl">Sendt <strong><%="#{time_ago_in_words(comment.created_at)}"%> dage siden</strong> som svar på <%= link_to h(comment.idea.title), idea_path(comment.idea)%></div>
                    </div>
                    <!--Content Head Ends -->
                    <!--Posted Content Starts -->
                    <div class="plainwrap">
                      <p><%= user_formatted_text comment.text%></p>
                    </div>
                    <!--Posted Content Ends -->
                  </div>
                  <!--Posted Comments Ends -->
                </div>
                <!--Breaker Starts -->
                <div class="b_divider"></div>
              <% end %>

            </div>
            <!--Kommentarer container Ends -->
            <!--Stemmer container Starts -->
            <div id="tab3" class="tab_content">
              <!--Header Portion Starts -->
              <div class="tab_headline">
                <div class="fl"><strong>These are some of the ideas that Erik Sørup voted for.</strong></div>
                <!--Pagination Starts -->
                <div class="fr">
                  <ul class="pagination">
                    <!--<li><a href="#">«</a></li> --> 
                    <li><a href="#" class="select">1</a></li>
                    <li><a href="#">2</a></li> 
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
                <!--Pagination Ends -->
              </div>
              <!--Heade Portion Ends -->
              <!--Vote Panel1 Starts -->
              <% @votes.each do |vote| %>

                <div class="plainwrap">
                  <div class="vote_check"></div>
                  <div class="vote_panel">
                    <div class="fl"><%=  link_to h(truncate(vote.idea.title, :length => 50, :separator => ' ')), idea_path(vote.idea), :class => "bold_link"%></div>
                    <div class="fr">Posted <%=time_ago_in_words(vote.idea.created_at)%> dage ago</div>
                  </div>
                </div>
                <!--Breaker Starts -->
                <div class="b_divider"></div>
              <% end %>

            </div>
            <!--Stemmer container Ends -->
            <!--Tab Ends -->
          </div>
        </div>
        <!--Tab Panel Ends -->
      </div>
      <!--Left Panel Ends -->
      <!--Right Panel Starts -->
      <div class="right_panel">
        <div class="plainwrap"><div id="sidebar" class="aside" style="margin-bottom:15px;"><%= render :partial => "shared/sidebar" %></div></div>
        <div class="plainwrap"><a href="/user/index" class="bold_link">All Users</a></div>
        <!--Display Section Starts -->
        <div id="ajax-tab">
          
        </div>
        <!--Display Section Ends -->
      </div>
      <!--Right Panel Ends -->
    </div>