!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head{ :profile => "http://gmpg.org/xfn/1" }
    %title== #{LONG_SITE_NAME} | #{h(page_title || "Exchange your ideas, vote, and discuss. Let's make it better.")}
    -cache 'header' do
      %link{ :href => "images/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon" }
      %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }/
      %meta{ :name => 'keywords', :content => "#{COMPANY_NAME}, #{SHORT_SITE_NAME}, #{LONG_SITE_NAME}, Idea Exchange, share, vote, rate"}
      %meta{ :name => 'description', :content => "#{LONG_SITE_NAME} is a forum for #{COMPANY_NAME} customers to share, rate, and discuss ideas about #{COMPANY_NAME}."}

      -if GOOGLE_WEBMASTER_KEY
        %meta{ :name => "verify-v1", :content => GOOGLE_WEBMASTER_KEY }

      = stylesheet_link_tag 'master'
      /[if lt IE 8]
        = stylesheet_link_tag 'ie'
      /[if lt IE 7]
        = stylesheet_link_tag 'ie6'
        = javascript_include_tag 'IE7'
      = javascript_include_tag 'example_text'
      = javascript_include_tag :defaults
      = javascript_include_tag 'jquery.min'
      = javascript_include_tag 'ga', 'global'
      :javascript
        jQuery.noConflict(); // prevent jQuery from overriding $ operator, so that it doesn't fight with Prototype
    -@feeds.each do |feed|
      %link{ :href => feed[:href], :title => feed[:title], :rel => "alternate", :type => "application/rss+xml" }
    = javascript_include_tag 'map_ideas'
    -if @map
      %script(src='http://maps.google.com/maps/api/js?sensor=false' type='text/javascript')

  %body{ :class => @body_class }
    %div
      .main.panel.section
        .header
          %h2= t('menu.sign_in') + " #{SHORT_SITE_NAME}"
          %h3<
            =t("dont_have_account")
            = link_to t("menu.sign_up"), signup_url
        .body
          .group
            - form_tag session_path do
              .form-group.inline
                %label{ :for => "email" }=t('email_address')
                = text_field_tag 'email', params[:email], :class => "input-text big", :tabindex => 1
              .form-group.inline
                %label{ :for => "password" }
                  =t("password")
                  %small= link_to t("forgot_it"), forgot_password_path
                = password_field_tag 'password', nil, :class => "input-text big", :tabindex => 2
              .form-group.inline.checkbox
                %input#remember-me.input-checkbox{ :name => "remember_me", :type => "checkbox", :value => "1", :tabindex => 3 }
                %label{ :for => "remember-me" }= t('remember_me')
              .form-submit.inline
                = submit_tag t("menu.sign_in"), :class => "input-submit", :id => "submit-login", :tabindex => 4

          -# ------- STYLE NEEDED ------
          -if TWITTER_ENABLED || FACEBOOK_ENABLED
            .group
              -if TWITTER_ENABLED
                .login-button= link_to 'Log in with Twitter', twitter_login_path
              -if FACEBOOK_ENABLED
                .login-button= link_to 'Log in with Facebook', '#', :onclick => 'facebook_login(); return false'
          -# ------- /STYLE NEEDED ------

        .footer
      %hr.hide
      #sidebar.aside
        = render :partial => "shared/sidebar"
