%div
  .main.panel.section
    .header
      %h2== Log in to #{SHORT_SITE_NAME}
      %h3<
        Don't have an account?
        = link_to "Sign up.", signup_url
    .body
      .group
        - form_tag session_path do
          .form-group.inline
            %label{ :for => "email" } Email Address
            = text_field_tag 'email', params[:email], :class => "input-text big", :tabindex => 1
          .form-group.inline
            %label{ :for => "password" }
              Password
              %small= link_to 'Forgot it?', forgot_password_path
            = password_field_tag 'password', nil, :class => "input-text big", :tabindex => 2
          .form-group.inline.checkbox
            %input#remember-me.input-checkbox{ :name => "remember_me", :type => "checkbox", :value => "1", :tabindex => 3 }
            %label{ :for => "remember-me" } Remember Me?
          .form-submit.inline
            = submit_tag 'Log In', :class => "input-submit", :id => "submit-login", :tabindex => 4
      
      -# ------- STYLE NEEDED ------
      -if TWITTER_ENABLED || FACEBOOK_ENABLED
        .group
          -if TWITTER_ENABLED
            .login-button= link_to 'Log in with Twitter', twitter_login_path
          -if FACEBOOK_ENABLED
            .login-button= link_to 'Log in with Facebook', '#', :onclick => 'facebook_login(); return false'
      -# ------- /STYLE NEEDED ------
      
    .footer
  %hr.hide
  #sidebar.aside
    = render :partial => "shared/sidebar"
