= error_messages_for :idea
- remote_form_for :idea, :url => idea_path, :method => 'put', :update => 'edit-idea-1', :has_example_text => true do |f|
  #idea-title-group.form-group.inline
    = f.label :title, "Idea"
    = f.text_field :title, :example => 'My idea is...', :maxlength => 120, :size => 51, :id => "idea-title", :class => "input-text big"
  #idea-description-group.form-group.inline
    = f.label :description, "Description"
    = f.text_area :description, :example => "It'd be great if...", :id => "idea-description", :class => "input-textarea big", :rows => "7", :cols => "30"
  #idea-tags-group.form-group.inline
    %label{:for => "tags"} Tags
    = render :partial => 'ideas/tag_editor', :locals => { :f => f }
  .form-submit.inline
    = submit_tag 'Save Changes', :id => "submit-save-changes", :class => "input-submit"
    = link_to('cancel', '#', :onclick => 'cancelEdit(); return false', :class => 'cancel')