-# ------- STYLE NEEDED ------
%p
  Your
  = SHORT_SITE_NAME
  account is
  = link_to 'configued', edit_user_path
  == to share your ideas to #{h current_user.facebook_name}'s Facebook account, but you are logged in as a different user.
%p
  %b
    Please
    = link_to 'log out of Facebook', '#', :onclick => 'FB.logout(); return false'
    and then
    = link_to 'log in as ' + h(current_user.facebook_name), '#', :onclick => "facebook_login('#{idea_url(@idea)}'); return false"
    to share your ideas!
