<% if  idea.status == "new"   %>
  <div class="green_wrap" style="height:auto;">
  <% elsif idea.status == "under review" %>
    <div class="yellow_wrap" style="height:auto;">
    <% else %>
      <div class="blue_wrap" style="height:auto;">
      <% end %>  
      <!--stem Stuff Starts -->
      <div class="stem" id="stem-<%= idea.id %>">
        <% if has_voted?(idea)%>
          <p id="vote-<%= idea.id %>"class="num"><%= h "#{idea.vote_count}"%></p>
        <% else%>
          <%= link_to_remote "#{t('vote')}!", :update => "vote-#{idea.id}", :url => idea_vote_path(idea.id), :complete => visual_effect(:highlight, "vote-#{idea.id}", :duration => 0.8), :html =>{:class => "stem_button"}%>
        <% end %>
      </div>


      
      <!--stem Stuff Ends -->
      <!--Right Content Starts -->
      <div class="p_content">
        <!--Content Head Starts -->
        <div class="p_content_head">
          <div class="fl">Sendt <%= time_ago_in_words(idea.created_at)%><strong> siden</strong> af <%=link_to idea.inventor.name, profile_path(idea.inventor), :class => "bold_link"%></div>
          <div class="fr" style="width:133px;">
            <div class="fl">
              <% unless idea.idea_followers.empty? %>
                <%= link_to "Followers(#{idea.idea_followers.size})", followers_idea_path(idea.id), :style => "color:#0f645d; margin-right:8px;"  %>
                
              <% end %>
            </div>
            <div class="fr">
              <%= link_to "Unfollow", unfollow_idea_path(idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).nil?%>
              <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,idea.id).blank? %>
                <% form_tag idea_follow_path do%>
                  <%= hidden_field_tag :idea_id, idea.id%>
                  <%= submit_tag "Follow", :class => "idea_submit"%>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
        <!--Content Head Ends -->
        <!--Posted Content Starts -->
        <div class="plainwrap">
          <h3><%= link_to h(idea.title), idea_path(idea) unless idea.title.nil?%></h3>
          <p><%= h idea.description_excerpt%> </p>
        </div>
        <!--Posted Content Ends -->

        <div class="d_panel_commentator_big">
          <div class="fl"><img src="/images/comment-icon.png" alt="" /><%= link_to "#{t('menu.comments')} #{"(#{idea.comment_count})" if idea.comment_count > 0}", idea_path(idea, :anchor => 'comments', :title_in_url => false)%></div>
          <div class="tag_container">
            <div class="fl" style="margin-top:5px;"><img src="/images/tag-icon.png" alt="" /></div> 
            <div class="tag_container_inner">
              <% unless idea.tags.empty?%>
                <% idea.tags.each_with_index do |tag, ctr|%>
                  <%unless ctr == idea.tags.length - 1%>
                    <%= link_to h(tag.name)+"," , idea_search_path(:search => ['tag', tag.name]) %>
                  <%  else %>
                    <%= link_to h(tag.name)+",", idea_search_path(:search => ['tag', tag.name]) %>
                  <% end %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

      </div>
      <!--Right Content Ends -->
    </div>
    <!--Green Panel Ends -->
    <!--Breaker Starts -->
    <div class="b_divider"></div>