-include_comments ||= false

%idea
  %id= idea.id
  %created-at= idea.created_at
  %inappropriate-flags= idea.inappropriate_flags
  %rating= idea.rating.round.to_i
  %title=h idea.title
  %description=h user_formatted_text idea.description
  -if current_user
    %user-has-voted= has_voted?(idea)
  -if idea.duplicate_of
    %duplicate-of
      %id= idea.duplicate_of.id
      %title=h idea.duplicate_of.title
  %inventor
    =render :partial => 'users/user', :locals => { :user => idea.inventor }
  %tags
    -idea.tags.each do |tag|
      %tag
        %id= tag.id
        %name=h tag.name
  -if include_comments
    %comments= render :partial => 'comments/comment', :collection => idea.comments
  -else
    %comment-count= idea.comment_count
