-# This partial shared by /ideas/new, home page, and drop-down.


= error_messages_for :idea
- form_for :idea, :url => ideas_path, :update => 'submit-idea',  :html=>{:multipart=>true, :id=>"idea_form"} do |f|
  - if defined?(current) && !current.nil?
    =f.hidden_field :current_id, :id => "idea-current-id", :value=>current.id

  #idea-title-group.form-group.inline
    = f.label :title, "Idea"
    = f.text_field :title, :placeholder =>t("my_idea_is"), :maxlength => 120, :size => 51, :id => "idea-title", :class => "input-text big"
  #idea-description-group.form-group.inline
    = f.label :description, "Description"
    = f.text_area :description, :placeholder => t("great_if"), :id => "idea-description", :class => "input-textarea big", :rows => "7", :cols => "40"
    .input_file
      = text_field_tag("dddd","", :size=>50 , :id=>"fakeupload", :onchange=>"this.form.fakeupload.value = this.value;")
      = f.file_field :document , :size=>50
     
      

  #idea-tags-group.form-group.inline
    %label{:for => "tags"} Tags
    = render :partial => 'ideas/tag_editor', :locals => { :f => f }
    -#= f.text_field :tag_names, :onmouseover => "alert('Emneord: ”Faglig, forretningsmæssig, lovmæssig, politisk eller anden vinkel. Vælg eller skriv gerne flere emneord”');", :onmouseout => "jQuery(this).val('sdsd');"  
    -unless defined?(current) && current.id
      = f.collection_select :current_id, Current.all, :id, :title , {:include_blank=>'Hovedveje ...'}, :style => "margin-left: 9px;"
    .same
      = submit_tag 'Share My Idea', :class => "input-submit big", :style => "float:left;margin:22px 0px 0px 30px;" 
  .form-group.inline
    

  %p.note>
    =t("notice.constructive")

  