-# This partial shared by /ideas/new, home page, and drop-down.
= error_messages_for :idea
- form_for :idea, :url => ideas_path, :update => 'submit-idea',  :html=>{:multipart=>true, :id=>"idea_form"} do |f|
  - if defined?(current) && !current.nil?
    =f.hidden_field :current_id, :id => "idea-current-id", :value=>current.id

  #idea-title-group.form-group.inline
    = f.label :title, "Idea"
    = f.text_field :title, :placeholder =>t("my_idea_is"), :maxlength => 120, :size => 51, :id => "idea-title", :class => "input-text big"
  #idea-description-group.form-group.inline
    = f.label :description, "Description"
    = f.text_area :description, :placeholder => t("great_if"), :id => "idea-description", :class => "input-textarea big", :rows => "7", :cols => "40", :maxlength => "600"
    %p.charsRemaining
      Skriv kort. Du har kun :- 600 tagn
    /.input_file
    /  = text_field_tag("dddd","", :size=>66, :id=>"fakeupload", :onchange=>"this.form.fakeupload.value = this.value;")
    /  = f.file_field :document, :size=>66
  .clear
  #file_fields_div{:style => "padding-left:30px"}
  .clear
  %p{:style => "padding-left:15px"}
    = image_tag("black_attachment.png", :size => "25x25", :style => "cursor: pointer; background:none; border:0;", |
    :onclick => "add_a_file_field_on_idea();", :id => "file_upload1", :alt => "Upload file", :title => "Upload file")
  .clear
  .form-group.inline
    -unless defined?(current) && current.id
      = f.collection_select :current_id, Current.active, :id, :title , {:include_blank=>'Hovedvej...'}, :style => "margin-left: 9px;border:medium none;border-radius:8px 8px 8px 8px;color:#888888;float:left;font:12px Helvetica;height:30px;padding:5px;width:225px;"
  #idea-tags-group.form-group.inline
    %label{:for => "tags"} Tags
    = render :partial => 'ideas/tag_editor', :locals => { :f => f }
    .same
      = submit_tag 'Share My Idea', :style => "display:none;", :id => "idea_form_submit"
  .form-group.inline


  %p.note>
    =t("notice.constructive")

:javascript
  jQuery.fn.limitMaxlength = function(options){

    var settings = jQuery.extend({
      attribute: "maxlength",
      onLimit: function(){},
      onEdit: function(){}
    }, options);

    // Event handler to limit the textarea
    var onEdit = function(){
      var textarea = jQuery(this);
      var maxlength = parseInt(textarea.attr(settings.attribute));

      if(textarea.val().length > maxlength){
        textarea.val(textarea.val().substr(0, maxlength));

        // Call the onlimit handler within the scope of the textarea
        jQuery.proxy(settings.onLimit, this)();
      }

      // Call the onEdit handler within the scope of the textarea
      jQuery.proxy(settings.onEdit, this)(maxlength - textarea.val().length);
    }

    this.each(onEdit);

    return this.keyup(onEdit)
    .keydown(onEdit)
    .focus(onEdit);
  }

  jQuery(document).ready(function(){

    var onEditCallback = function(remaining){
      jQuery(this).siblings('.charsRemaining').text("Skriv kort. Du har kun :-" + remaining + " tegn");
    }

    var onLimitCallback = function(){
      alert("you exceed the limit of  character");
      jQuery(this).css('background-color', '#FBE3E4');
    }
    
    jQuery('textarea[maxlength]').limitMaxlength({
      onEdit: onEditCallback,
      onLimit: onLimitCallback
    });
  });
  jQuery(window).load(function(){
  jQuery('.charsRemaining').text("Skriv kort. Du har kun :-" + 600 + " tegn");
  });