<%
a=[]
for i in 0..100 do
  if i % 3 == 0
    a << i

  end
end
c=1
b=[]

while c<100
  b << c
  c=c+3
end

%>


<% if  a.include?(search_idea_counter)   %>
  <div class="green_wrap" style="height: auto;">
  <% elsif b.include?(search_idea_counter)  %>
    <div class="yellow_wrap" style="height: auto;">
    <% else %>
      <div class="blue_wrap" style="height: auto;">
      <% end %>
      <div><strong><%= search_idea.current.title unless search_idea.current.nil? %></strong></div>
      <div class="plainwrap">
        <!--stem Stuff Starts -->
        <div id="stem-<%= search_idea.id %>" class="stem">
<%#= render :partial => "votes/vote", :locals => { :idea => idea, :dom_id => "stem-#{idea.id}" } %>
          <p id="vote-<%= search_idea.id %>"class="num"><%= h "#{search_idea.vote_count}"%></p>

          <% if has_voted?(search_idea)%>


          <% else%>
            <%= link_to_remote "#{t('vote')}!", :update => "vote-#{search_idea.id}", :url => idea_vote_path(search_idea.id), :complete => visual_effect(:highlight, "vote-#{search_idea.id}", :duration => 0.8), :html =>{:class => "bigstem_button",}%>
          <% end %>
        </div>


        <div class="p_content">

          <!--Content Head Starts -->
          <div class="p_content_head">
            <div class="fl">Sendt <%= time_ago_in_words(search_idea.created_at) unless search_idea.created_at.nil? %><strong> siden</strong> af 
              <% unless search_idea.is_anonymous? %>
                <%=  link_to search_idea.inventor.name, profile_path(search_idea.inventor) unless search_idea.inventor.nil?%>
              <% else %>
                <%=  link_to "Anonymous", "#"%>
              <% end %>
            </div>
            <div class="fr" style="width:169px;">
            <div class="fl">
              <% unless search_idea.idea_followers.empty? %>
                <%= link_to "#{search_idea.idea_followers.collect(&:user).uniq.size} følger ideen", followers_idea_path(search_idea.id), :style => "color:#0f645d; margin-right:8px;"  %>
                
              <% end %>
            </div>
            <div class="fr">
              <%= link_to "Stop følg", unfollow_idea_path(search_idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,search_idea.id).nil?%>
              <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,search_idea.id).blank? %>
                <% form_tag idea_follow_path do%>
                  <%= hidden_field_tag :idea_id, search_idea.id%>
                  <%= submit_tag "Følg denne", :class => "idea_submit"%>
                <% end %>
              <% end %>
            </div>

          </div>
          </div>
          <!--Content Head Ends -->
          <!--Posted Content Starts -->
          <div class="plainwrap">
            <h3><%= link_to h(search_idea.title), idea_path(search_idea) unless search_idea.title.nil?%></h3>
            <p><%= h search_idea.description_excerpt%> </p>
          </div>
          <!--Posted Content Ends -->

          <div class="plainwrap">

            <div class="d_panel_commentator_big">
              <div class="fl"><img src="/images/comment-icon.gif" alt="" /><%= link_to "#{t('menu.comments')} #{"(#{search_idea.comment_count})"}", idea_path(search_idea, :anchor => 'comments', :title_in_url => false)%></div>
              <div class="tag_container">
                <div class="fl" style="margin-top:5px;"><img src="/images/tag-icon.png" alt="" /></div> 
                <div class="tag_container_inner">
                  <% unless search_idea.tags.empty?%>
                    <% search_idea.tags.each_with_index do |tag, ctr|%>
                      <%unless ctr == search_idea.tags.length - 1%>
                        <%= link_to h(tag.name)+"," , idea_search_path(:search => ['tag', tag.name]) %>
                      <%  else %>
                        <%= link_to h(tag.name)+",", idea_search_path(:search => ['tag', tag.name]) %>
                      <% end %>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>





          </div>
          
          
          
        </div>
      </div>

      <!--Right Content Ends -->

    </div>
    <!--Green Panel Ends -->
    <!--Breaker Starts -->
    <div class="b_divider"></div>