<%= javascript_include_tag "editjs" %>
<div class="body_wrap">
  <!--Left Panel Starts -->
  <div class="left_panel">
    <%
    if params[:val] == "hot" || params[:val] == "recent"
      nt_idea=next_idea(@idea,params[:val],nil)
      pv_idea=prev_idea(@idea,params[:val],nil)
    elsif params[:ideas]
      @ideas = Array.new
      params[:ideas].each do |idea|
        @ideas << Idea.find(idea)
      end
      nt_idea=next_idea(@idea,nil,@ideas.to_a)
      pv_idea=prev_idea(@idea,nil, @ideas.to_a)
    else
      nt_idea=next_idea(@idea,nil,nil)
      pv_idea=prev_idea(@idea, nil,nil)
    end
  %>
    <div id="idea-1">
      <div class="plainwrap" style="border-bottom: 1px silver dotted; margin-bottom: 10px;">
        <% unless pv_idea.nil?  %>
          <% if params[:val] == "hot" || params[:val] == "recent" %>
            <div class="fl">&laquo; <%= link_to "Forrige", idea_url(pv_idea, :val => params[:val]), :style =>"color: #0B3597; text-decoration: none;" %></div>
          <% elsif params[:ideas]%>
            <div class="fl">&laquo; <%= link_to "Forrige", idea_url(pv_idea, :ideas => params[:ideas]), :style =>"color: #0B3597; text-decoration: none;" %></div>

          <% else %>
            <div class="fl">&laquo; <%= link_to "Forrige", idea_url(pv_idea), :style =>"color: #0B3597; text-decoration: none;" %></div>
          <% end %>
        <% else %>
          <div class="fl"><span>&laquo; Forrige </span></div>
        <% end %>
        <% unless nt_idea.nil? %>
          <% if params[:val] || params[:val] == "recent" %>
            <div class="fr"><%= link_to "Næste", idea_url(nt_idea, :val => params[:val]), :style =>"color: #0B3597; text-decoration: none;" %> &raquo;</div>
          <% elsif params[:ideas]%>
            <div class="fr"><%= link_to "Næste", idea_url(pv_idea, :ideas => params[:ideas]), :style =>"color: #0B3597; text-decoration: none;" %> &raquo;</div>

          <% else %>
            <div class="fr"><%= link_to "Næste", idea_url(nt_idea), :style =>"color: #0B3597; text-decoration: none;" %> &raquo;</div>
          <% end %>
        <% else %>
          <div class="fr"><span>Næste &raquo;</span></div>
        <% end %>

      </div>
      <!--Profile Top Stuff Starts -->
      <div class="plainwrap">
        <div class="plainwrap" style="height: auto; margin-bottom:10px;" >
          <div class="fl" style="width:75%; margin-bottom: 5px; padding-bottom: 5px;">
            <p class="subhead1">
              <%= h @idea.title%>&nbsp;<%if @idea.editable_by?(current_user)%><%= link_to image_tag("edit_item.png", :alt => "For the next #{time_ago_in_words(@idea.created_at + 10.minutes)}", :title => "For the next #{time_ago_in_words(@idea.created_at + 10.minutes)}"), '#', :onclick => 'editIdeaText(); return false' %><%end%></p>

            <h3 class="subhead2" style="float:left;width:auto;">Sendt <strong style="color:#219188;"><%= time_ago_in_words(@idea.created_at) %> <%= t("ago") %> </strong> af
              <%unless @idea.is_anonymous?%>
                <%=link_to @idea.inventor.name, profile_path(@idea.inventor), :class => "bold_link"%>
              <%else%>
                <%=link_to "Anonymous", "#", :class=> "bold_link" %>
              <% end %>
            </h3>
            <div style="clear: both;">
              <h3 class="subhead2 fl">Ideen har status <strong style="color:#219188;"><%= idea_text(@idea) %></strong></h3>
              <% if current_user.roles.collect(&:name).include?("admin") %>
                <%= link_to "Edit Status", edit_admin_idea_path(@idea), :class => "bold_link", :style => "padding-left:7px;font-size:15px;" %>
              <% end %>
            </div>

          </div>

          <div class="fr" style="width:25%;">
            <div style="float: right; overflow: auto;">
              <div class="fl">
                <%= link_to "#{@idea.idea_followers.collect(&:user).uniq.size} følger ideen", followers_idea_path(@idea.id), :style => "color:#0f645d; margin-right:8px;"  %>
                <%= link_to "Stop følg", unfollow_idea_path(@idea.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless IdeaFollower.find_by_user_id_and_idea_id(current_user.id,@idea.id).nil?%>
              </div>
              <div class="fl">

                <% if IdeaFollower.find_by_user_id_and_idea_id(current_user.id,@idea.id).blank? %>
                  <% form_tag idea_follow_path do%>
                    <%= hidden_field_tag :idea_id, @idea.id%>
                    <%= submit_tag "Følg denne", :class => "idea_submit"%>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="stem" id="vote-<%= @idea.id %>" style="float:right;margin-top: 5px; height:65px;">

              <%= h "#{@idea.vote_count}"%>
              <% unless has_voted?(@idea)%>
                <%= link_to_remote "#{t('vote')}!", :update => "vote-#{@idea.id}", :url => idea_vote_path(@idea.id), :complete => visual_effect(:highlight, "vote-#{@idea.id}", :duration => 0.8), :html =>{:class => "bigstem_button"}%>
              <% end %>
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>

        <div class="plainwrap idea_description_wrap_grey" >
          <%= user_formatted_text @idea.description %>
        </div>

        <div style="clear: both;"></div>

        <%=image_tag('black_attachment.png', :size => '22x22')%><%= "Vedhæftninger" %>
        (<%= @idea.document.exists? ? @idea.document.size : 0%>)
        <span style="<%= @idea.document.exists? ? 'color: #0F645D;font-weight: bold; padding:4px; cursor: pointer;' : 'color: #0F645D;padding:4px;font-weight: bold;'%>"
              onclick="<%if @idea.document.exists?%>
                if($(this).innerHTML == 'Vis'){$(this).innerHTML = 'Skjul';$('attachments').style.display = 'block';}else{$(this).innerHTML = 'Vis';$('attachments').style.display = 'none';}<%end%> "><%if @idea.document.exists?%>Vis<%end%></span>
        <div id="attachments" class="hide idea_attachments_wrap_green">
          <%if @idea.document.exists?%>
            <%= link_to @idea.document_file_name, @idea.document.url, :class => "bold_link", :target => "_blank" unless @idea.document.url == "/documents/original/missing.png"  %>
          <%end%>
        </div>
        <div style="clear: both; margin: 8px;"></div>
      </div>

      <!--Profile Top Stuff Ends -->
      <!--Tag Panel Starts -->



      <div class="plainwrap"></div>
      <div class="d_panel_commentator2" style="height:auto;">
        <div class="fl" style="margin-right:15px"><%= link_to "Kommentarer ", "#comments", :class => "bold_link"%> <span id="comment-count" class="bold_link">(<%=@idea.comment_count%>)</span>| <%= link_to "Kommentér", "#post-comment", :class => "bold_link"%></div>
        <div class="tag_container" style="width:450px;">
          <div class="fl" style="margin-top:5px;"><img src="/images/tag-icon.png" alt="" /></div>
          <div class="tag_container_inner">
            <%= @idea.tags.map { |tag| link_to h(tag.name), idea_search_path(:search => ['tag', tag.name]) }.join(', ')%></div>
        </div>
      </div>

      <div class="plainwrap" style="margin-top:10px"><h2 class="title"><span id="comment-count-idea"> <%= @idea.comment_count %></span> Kommentarer</h2></div>
      <div class="plainwrap" id="comments">
        <!--Comments1 Starts -->
        <%= render :partial => 'idea_comment',
          :collection => @idea.comments.visible,
          :controller => 'comments',
          :locals => { :show_avatar => true, :idea => @idea }%>
        <!--Breaker Ends -->
        <!--Comments3 Ends -->
      </div>

      <div class="submit_idea_wrap" id="comments">
        <div class="plainwrap"style="background-color: #6AE5DB;" id="post-comment">
          <p align="center">
            <% form_for :comment, :url => idea_comments_url(@idea), :html => { :multipart => true, :onsubmit => 'return validateComment()' } do |f|%>
            <div id ="comment-missing" class="message error" style = "display: none"><%= t("enter_comment") %></div>

            <div class="form-group inline" id="post-comment" style="margin:23px 0 0 0;">
              <label for ="comment-text" style="color: #425D78;"> Din Kommentar  <span class="charsRemaining" style="color:black;font-size: 12px;"></span></label>

              <%= f.text_area :text, :id => "comment-text", :class => "input-textarea", :maxlength => "550"%>

              <div style="clear:both;"></div>
              <div style="margin-left:136px;margin-top:9px;" id="file_fields_div">
              </div>

              <div style="clear:both;"></div>
              <p style="padding-left:100px"><%= image_tag("black_attachment.png", :size => "25x25", :style => "cursor: pointer; background:none; border:0;",
                  :onclick => "add_a_file_field();", :id => "file_upload1") %></p>
              <div class="clear" style="clear:both;"></div>
            </div>
            <div class="form-submit inline">
              <% if current_user && !current_user.active?%>
                <p class="message info"> Your comment will not be publicly visible until you confirm your account.</p>
              <% end %>

              <%= submit_tag "Post Comment", :class => "input-submit comment-submit", :style =>"margin-top:19px;"%>
            </div>

            <div class="clear" stle="clear:both;"></div>
          <% end %>
        </div>
<%#*</p>%>
      </div>
    </div>
    <hr class="hide">
    <%  if @idea.editable_by?(current_user) %>
      <div id="edit-idea-1" class="main panel section idea hentry" >
        <div class="header">
          <h2> Ret din ide</h2>
        </div>
        <div class="body">

          <%= render :partial => 'edit'%>
        </div>
      </div>

    <% end %>
    </hr>
  </div>


  <!--Left Panel Ends -->
  <!--Right Panel Starts -->
  <div class="right_panel">
    <div class="plainwrap"><div id="sidebar" class="aside"><%= render :partial => "shared/sidebar" %></div></div>
    <div class="plainwrap"><a href="/user/index" class="bold_link" style=" padding-left: 10px;"><%=t("all_users")%></a></div>
    <!--Display Section Starts -->
    <div id="ajax-tab">

    </div>
    <!--Display Section Ends -->
  </div>
  <!--Right Panel Ends -->
</div>



<script type="text/javascript">
  jQuery.fn.limitMaxlength = function(options){

  var settings = jQuery.extend({
  attribute: "maxlength",
  onLimit: function(){},
  onEdit: function(){}
  }, options);

  // Event handler to limit the textarea
  var onEdit = function(){
  var textarea = jQuery(this);
  var maxlength = parseInt(textarea.attr(settings.attribute));

  if(textarea.val().length > maxlength){
  textarea.val(textarea.val().substr(0, maxlength));

  // Call the onlimit handler within the scope of the textarea
  jQuery.proxy(settings.onLimit, this)();
  }

  // Call the onEdit handler within the scope of the textarea
  jQuery.proxy(settings.onEdit, this)(maxlength - textarea.val().length);
  }

  this.each(onEdit);

  return this.keyup(onEdit)
  .keydown(onEdit)
  .focus(onEdit);
  }

  jQuery(document).ready(function(){

  var onEditCallback = function(remaining){
  jQuery('.charsRemaining').text("Skriv kort. Du har kun: " + remaining + " tegn");

  if(remaining > 0){
  jQuery(this).css('background-color', 'white');
  }
  }

  var onLimitCallback = function(){

  jQuery(this).css('background-color', 'red');
  }

  jQuery('textarea[maxlength]').limitMaxlength({
  onEdit: onEditCallback,
  onLimit: onLimitCallback
  });
  });
</script>

<script type="text/javascript">

  function validateComment() {
  if($('comment-text').value.blank()) {
  $('comment-missing').style.display = 'block';
  $('comment-text').focus();
  return false;
  } else {
  return true;
  };
  };
  function editCommentText(id) {
  $$('#comment_'+id+' .comment-content')[0].hide();
  $$('#comment_'+id+' .edit-comment-content')[0].show();
  };
  function validateCommentUpdate(id) {
  if($('comment-'+id+'-text').value.blank()) {
  $('comment-'+id+'-missing').style.display = 'block';
  $('comment-'+id+'-text').focus();
  return false;
  } else {
  return true;
  };
  };


  function editIdeaText() {
  $('idea-1').hide();
  $('edit-idea-1').show();
  }
  function cancelEdit() {
  $('idea-1').show();
  $('edit-idea-1').hide();
  }

</script>

