%li.step{:id => "step_#{life_cycle_step.id}"}
  .delete{:onclick => "deleteStep(#{life_cycle_step.id}); return false"}
  .reorder
  - @life_cycle_step = life_cycle_step
  = ideax_in_place_editor_field :life_cycle_step, :name
  
  .delete-options{:id => "delete_step_#{life_cycle_step.id}"}
    - form_tag({:action => :delete_step, :id => life_cycle_step.id}, {:method => :delete}) do
      Reassign ideas to:
      %select{:name => 'reassign_to'}
        %option{:value => ''} [Unassigned]
        - all_life_cycles.each do |reassign_lc|
          %option{:disabled => true}
          - reassign_lc.steps.each do |reassign_step|
            %option{:value => reassign_step.id, :disabled => reassign_step == life_cycle_step, :selected => reassign_step.follows?(life_cycle_step)}
              =h reassign_lc.name + ": " + reassign_step.name
      = submit_tag 'Delete Step', :confirm => "Are you sure you want to delete the \"#{life_cycle_step.name}\" step from the \"#{life_cycle.name}\" life cycle? You cannot undo this."
      %a{:href => '#', :onclick => "cancelDeleteStep(#{life_cycle_step.id}); return false"} Cancel
