- unless search_pending_moderation?
  .search
    - form_remote_tag :url => { :action => :index, :sort => params[:sort], :order => params[:order] }, :html => {:id => 'search_form', :method => :get} do
      - if current_model == Idea
        %strong Filter by life cycle
        %select{:name => 'life_cycle_step', :class => "input-select"}
          %option{:value => ''}
          - all_life_cycles.each do |lc|
            %option{:disabled => true}=h lc.name
            -lc.steps.each do |step|
              %option{:value => step.id, :selected => step.id == params[:life_cycle_step].to_i}= '&nbsp;&nbsp;&nbsp;' + h(step.name)
      = text_field_tag :search, params[:search], :id => "search", :class => "input-custom long"
      
      - if current_model == Idea
        = check_box_tag :marked_spam, true, false
        %strong= label_tag 'spam', 'show spam', :style => "display:inline !important;"
      
      = render :partial => '/spinner', :locals => { :id => 'search_spinner' }
    
    = observe_form 'search_form', :method => :get, :frequency => 0.7, :update => 'results', :loading => '$("search_spinner").style.visibility = "visible"', :loaded => '$("search_spinner").style.visibility = "hidden"'
