%div
  .panel.full.section
    .header
      %h2 Link Duplicate Ideas
      %h3= link_to "&laquo; Back to idea", edit_admin_idea_path(current_object)
    .body
      .group
        %table.no-hover
          %tr
            -@dup_ideas.each_with_index do |idea, n|
              -other_idea = @dup_ideas[(n+1) % @dup_ideas.size]
              
              %td{:style => "width:445px;"}
                %h3=h idea.title
                %h4.posted
                  Posted
                  %abbr.published.time-relative
                    = time_ago_in_words(idea.created_at)
                    ago
                    by
                    %span.vcard.author
                      - if idea.inventor.admin?
                        = link_to h(idea.inventor.name), profile_path(idea.inventor), :class => 'fn url admin'
                      - else
                        = link_to h(idea.inventor.name), profile_path(idea.inventor), :class => 'fn url'
                %p=h idea.description
                -if other_idea.duplicate_ids.empty?
                  %b= link_to 'Make this one the parent', admin_link_duplicates_path(idea, other_idea), :method => :post
                  -unless idea.duplicate_ids.empty?
                    %p (This idea is already the parent of other duplicates, so if you link these two ideas, it must be the parent.)
    .footer