%div
  .main.panel.section
    .header
      %h2.icon.user-edit Account Settings

    .body.group
      = error_messages_for :user
      - form_for :user, :url => user_path, :html => { :method => :put, :id => 'edit_user_form' } do |f|
        .form-group.inline
          = f.label :name, "Screen name<br /><em>required</em>", :class => 'required'
          = f.text_field :name, :class => "input-text"
          %p.note== This is your public name on #{SHORT_SITE_NAME}
        .form-group.inline
          = f.label :email, "Email<br /><em>required</em>", :class => 'required'
          = f.text_field :email, :class => "input-text"
          %p.note Used for password recovery and notifications
        .form-group.inline
          = f.label :zip_code, "Zip Code<br /><em>required</em>", :class => 'required'
          = f.text_field :zip_code, :class => "input-text"
          %p.note Your U.S. zip code (Another country's postal code works too!)
        
        .form-group.inline
          = f.label :password, "New password"
          = f.password_field :password, :class => "input-text"
          %p.note Minimum 4 characters.
        .form-group.inline
          = f.label :password_confirmation, "Confirm"
          = f.password_field :password_confirmation, :class => "input-text"
          %p.note Make sure you typed it right.
        
        .form-group.inline.checkbox
          = f.check_box :notify_on_comments, :class => "input-checkbox"
          = f.label :notify_on_comments, "Notify me when someone comments on my ideas"
        -# ------- STYLE NEEDED ------
        .form-group.inline
          %label Avatar
          = gravatar_for @user, :size => 64
          Edit your avatar at
          = link_to 'gravatar.com', 'http://gravatar.com'
        -# ------- /STYLE NEEDED ------
        
        :javascript
          change_service_link = function(service, link) {
            var form = $('edit_user_form')
            form[(link ? 'link_' : 'unlink_') + service].value = 1
            form.submit()
          }
        
        - if TWITTER_ENABLED
          -# ------- STYLE NEEDED ------
          .form-group.inline.checkbox
            - if @user.linked_to_twitter?
              %p
                Linked to Twitter account:
                %b=h @user.twitter_handle
                - if @user.twitter_is_only_auth_method?
                  %p.note To unlink your Twitter account, first enter a password in the form above.
                - else
                  %br/
                  = link_to 'Unlink Twitter account', '#', :onclick => 'return change_service_link("twitter", false)'
                  = hidden_field_tag :unlink_twitter
              = f.check_box :tweet_ideas, :class => "input-checkbox"
              = f.label :tweet_ideas, "Tweet my ideas"
              %p.note Check this box to automatically Tweet your #{SHORT_SITE_NAME} ideas.
            - else
              = link_to 'Link to Twitter account', '#', :onclick => 'return change_service_link("twitter", true)'
              = hidden_field_tag :link_twitter
              %p.note
                Allows you to Tweet your ideas, and log in via Twitter.
                %br/
                == Displays your Twitter name in your #{SHORT_SITE_NAME} public profile.
          -# ------- /STYLE NEEDED ------
          
        - if FACEBOOK_ENABLED
          -# ------- STYLE NEEDED ------
          .form-group.inline.checkbox
            - if @user.linked_to_facebook?
              %p
                Linked to Facebook account:
                %b=h @user.facebook_name
                - if @user.facebook_is_only_auth_method?
                  %p.note To unlink your Facebook account, first enter a password in the form above.
                - else
                  %br/
                  = link_to 'Unlink Facebook account', '#', :onclick => 'return change_service_link("facebook", false)'
                  = hidden_field_tag :unlink_facebook
              = f.check_box :facebook_post_ideas, :class => "input-checkbox"
              = f.label :facebook_post_ideas, "Share my ideas on Facebook"
              %p.note Check this box to automatically post your #{SHORT_SITE_NAME} ideas on your wall
            - else
              = link_to 'Link to Facebook account', '#', :onclick => 'return facebook_auth_and_link(true)'
              = hidden_field_tag :link_facebook
              %p.note
                Allows you to public your ideas to your wall, and log in via Facebook.
          -# ------- /STYLE NEEDED ------
          
          :javascript
            facebook_auth_and_link = function() {
              facebook_auth(function() {
                change_service_link('facebook', true)
              })
              return false
            }
        
        .form-submit.inline
          = submit_tag 'Update Account', :id => "submit-save-changes", :class => "input-submit"
    .footer
  %hr.hide
  #sidebar.aside
    = render :partial => "shared/sidebar"
