%div
  .main.panel.section
    .header
      %h2 Forgot You Password?
      %h3 No worries! Enter your email address and we will send you an email that will allow you to reset your password.
    .body
      - if @missing
        .message.error
          Please enter an email address.
      - if @not_found
        .message.error
          The email
          %strong=h params[:email]
          is not in our database. Do you want to
          = link_to 'sign up', signup_path
          for a new account?
      .group
        %br
        - form_tag forgot_password_path, :id => 'forgot-password' do
          .form-group.inline
            = label_tag "email", "Email"
            = text_field_tag 'email', params[:email], :class => "input-text big"
          .form-submit.inline  
            = submit_tag 'Send Reminder', :class => 'input-submit'
    .footer
  %hr.hide
  #sidebar.aside
    = render :partial => "shared/sidebar"
    