%div
  #popular-ideas.main.panel.section.hfeed
    .header
      %h2.icon{ :class => @body_class }
      %div
        %h2 Search BY Character
        - letters||=([*'A'..'Z'] + ['Æ', 'Ø','Å'])
        - letters.each do |letter|
          %b= link_to letter, "/user/index?val=#{letter}", :style => "margin-left:10px;"
        %br
        - #= select_tag :search, options_for_select(['Select','A','B','C','D','E','F','G','H','I','J','K','L','M','N', 'O','P','Q','R','S','T','U','V','W','X','Y','Z']), :onchange => "document.location = '/user/index?val='+jQuery(this).val()"
        %h2 Search By Name
        - form_tag "/users/search_user" do
          = text_field_tag :search
          = submit_tag "Search"

        %table.users_list{:width=>'100%', :cellpadding=>0, :cellspacing=>0}
          -for user in @users
            %tr.user
              %td.pp{:width=>90}
                = image_tag profile_picture(user, :small), :width=>32,:height=>32 , :class=>'profile_pic large'
              %td.name
                =link_to user.name, profile_path(user)
              %td.department
                = user.try(:department).try(:name) || "NA"
              %td.points
                %b= user.contribution_points.to_i

      =will_paginate (@users)

