%h1 Request: Create Idea
.request.box
  .url
    POST /ideas.xml
  .parameters
    Post parameters:
    %ul
      %li
        %b idea[title]
      %li
        %b idea[description]
      %li
        %b idea[tag_names]
        (optional, comma-separated)
  .response
    Response:
    = link 'Idea', 'responses/idea.html'
    or
    = link 'Validation Errors', 'responses/validation-errors.html'
%p
  Creates a new idea.
  %b Requires authentication.
%p== If the creation is successful, clients #{may} retrieve the ID of the new idea from the response. The server #{may} massage or sanitize user input. Therefore, if clients display the newly created idea after the request succeeds, they #{should} either re-read the idea's title, description and tags from the response or re-fetch the comment in a subsequent request.