#masthead.header
  %div
    %h1#logo= link_to image_tag('logo.png', :alt=>"BDO.dk"), root_path
    #nav-primary
      %ul.nav.site.alt.title-ideas
        %li.first=link_to t("menu.share"), root_path, :class => "home active"
        %li=link_to t("menu.recent"), idea_search_path(:search => 'recent'), :class => 'recent'
        %li.last= link_to  t('menu.currents'), currents_path, :class => 'currents'

      %ul.nav.site
        %li.first= link_to t("menu.comments"), comments_path, :class => 'comments'
        %li= link_to t("menu.tags"), tags_path, :class => 'tags'
        %li.last=link_to t("menu.hot"), idea_search_path(:search => 'hot'), :class => 'top-rated'


    %ul.nav.user
      - if logged_in?
        %li.first= link_to "#{h current_user.name}" , profile_url(current_user)
        %li= link_to t('menu.settings'), edit_user_path
        %li= link_to t("menu.about"), home_path('about')
        %li= link_to t("menu.rule"), home_path('rules')
        %li= link_to t("menu.contact_us"), home_path("contact")

        -if current_user.admin?
          %li= link_to 'Admin', admin_root_path
      %li.last.search
        - form_tag ideas_path, :method => :get, :id => 'idea_search_box' do
          %label{ :for => "search_text" }
            =t('menu.search')
          = text_field_tag 'search_text', params[:search_text]


    %ul.nav.user
      %li{:style=>"float:right"}= link_to t('menu.sign_out'), logout_path
