.idea.mini.hentry
  .title
    %h5.posted
      =t("posted")
      %abbr.published.time-relative
        = time_ago_in_words(idea.created_at)
        =t("ago")
      =t("by")
      %span.vcard.author
        -unless idea.is_anonymous?
          =link_to idea.inventor.name, profile_path(idea.inventor), :class => idea.inventor.admin? ? 'fn url admin' : 'fn url'
        -else
          =link_to "Anonymous", "#"
    %h4.entry-title= link_to h(idea.title), idea_path(idea), :rel => 'bookmark'
  %span{:id => "vote_#{idea.id}"}
    = render :partial => 'votes/vote', :locals => { :idea => idea, :dom_id => "vote_#{idea.id}" }
