- idea = ideas_list_row

%tr{:class => 'data-row', :onclick => "document.location = '#{edit_admin_idea_path(idea.id)}'"}
  %td.no-overflow
    .primary.excerpt= h(idea.title)
    .secondary.excerpt= h(truncate(idea.description, 140))
  %td
    .excerpt= idea.admin_tags.empty? ? "&ndash;" : h(idea.admin_tag_names)
    .secondary.excerpt= h(idea.tag_names)
  %td= idea.rating.round.to_i
  %td= idea.comment_count
  %td= idea.status
  %td= idea.created_at.strftime('%m/%d/%y')