= calendar_date_select_includes "blue" # or "red", or "silver", or nil for the default! 
%div
  .panel.full.section.hfeed
    .header
      %h2 New Idea Current
      %h3= link_to "&laquo; List of Currents", admin_currents_path
    .body
      .group
        = error_messages_for :current
        - form_for :current, :url => admin_currents_path, :update => 'submit-current', :has_example_text => true do |f|
          .form-group.inline
            = f.label :title, "Title"
            = f.text_field :title, :id => "current_title", :class => "input-text big"
          .form-group.inline
            = f.label :description, "Description"
            = f.text_area :description, :class => "input-textarea idea-admin"
          .form-group.inline
            = f.label :submission_deadline, "Submission Deadline"
            = calendar_date_select :current, :submission_deadline 
          .form-group.inline
            = f.label :invite_only, "Invitation required"
            = f.check_box :invitation_only, :id => "current_invitation_only" 
          .form-submit.inline
            = submit_tag 'Create Current'
    .footer
