%ul.vote
  %li.vote-count
    = h "#{idea.vote_count}"
    %span.points= h idea.vote_count == 1 ? t("vote") : t("votes")
  %li.vote-for-it
    - if has_voted?(idea)
      -# This doesn't get evaluated to TRUE in an ajax update.
      %span="#{t('you_voted')}!"
    - else
      = link_to_remote "#{t('vote')}!", :update => dom_id, :url => idea_vote_path(idea.id), :complete => visual_effect(:highlight, dom_id, :duration => 0.8)
