<div class="plainwrap">
  <!--Right Content Starts -->
  <!--Content Head Starts -->
  <div class="p_content_head">
    <div class="fl">Hovedveje oprettet <strong><%= time_ago_in_words(current.created_at) unless current.nil? %> <%= t('ago') %> siden</strong>  </div>
  </div>
  <!--Content Head Ends -->
  <!--Posted Content Starts -->
  <div class="plainwrap">
    <div class="fl" style="width:auto;"><h3><%= link_to h(current.title), current_path(current) if current.title%></h3></div>
      
      <div class="fr">
        <%  current_ideas = search_ideas(:search => ['current', current.id]) %>
        <div class="fl">
          
          <% unless current.current_followers.empty? %>
            <%= link_to "(#{current.current_followers.size}) følger hovedvejen", followers_current_path(current.id), :style => "color:#0f645d; margin-right:8px;"  %>

          <% end %>
        </div>
        <div class="fr">
          <%= link_to "Stop følg", unfollow_current_path(current.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless CurrentFollower.find_by_user_id_and_current_id(current_user.id,current.id).nil?%>
          <% if CurrentFollower.find_by_user_id_and_current_id(current_user.id,current.id).nil? %>
            <% form_tag current_follow_path do %>
              <%= hidden_field_tag :current_id, current.id%>
              <%= submit_tag "Følg denne hovedvej", :class => "idea_submit"%>
            <% end %>
          <% end %>
        </div>

      </div>
      <p><%= h current.description unless current.nil?%></p>
      <br />
      <p><%= link_to t("submit_idea"), params[:action] == "show" ? "#add_idea" : current_path(current, :anchor=>"add_idea") unless current.nil?%></p>
      <br />

    </div>
 
  <!--Posted Content Ends -->
  <!--Bottom Panel Starts -->
  <div class="d_panel_commentator2">
    <div class="fl">
      <% unless current_ideas.empty?%>
        <%= h "#{current_ideas.total_entries}"%>
        <%= h "ideer #{current_ideas.total_entries == 1 ? '' : 's'}"%>
        <%=t("in_current")%>
      <% end %>

    </div>                   
  </div>
  <!--Bottom Panel Ends -->
  <!--Right Content Ends -->
</div>


<div class="b_divider"></div>
