<div class="plainwrap">
  <!--Right Content Starts -->
  <!--Content Head Starts -->
  <div class="p_content_head">
    <div class="fl">Fokusområde oprettet <strong><%= time_ago_in_words(current.created_at) unless current.nil? %> <%= t('ago') %> siden</strong> af </div>
  </div>
  <!--Content Head Ends -->
  <!--Posted Content Starts -->
  <div class="plainwrap">
    <h3><%= link_to h(current.title), current_path(current) if current.title%></h3>
    <p><%= h current.description unless current.nil?%></p>
    <br />
    <p><%= link_to t("submit_ideas"), params[:action] == "show" ? "#add_idea" : current_path(current, :anchor=>"add_idea") unless current.nil?%></p>
    <br />
    <p> 
<%  current_ideas = search_ideas(:search => ['current', current.id]) %>
      <% unless current.current_followers.empty? %>
        <%= link_to "Followers(#{current.current_followers.size})", followers_current_path(current.id), :style => "color:#0f645d; margin-right:8px;"  %>

      <% end %>
      <%= link_to "Unfollow", unfollow_current_path(current.id), :method => :delete,  :style => "color:#0f645d; margin-right:8px;" unless CurrentFollower.find_by_user_id_and_current_id(current_user.id,current.id).nil?%>
      <% if CurrentFollower.find_by_user_id_and_current_id(current_user.id,current.id).nil? %>
        <% form_tag current_follow_path do %>
          <%= hidden_field_tag :current_id, current.id%>
          <%= submit_tag "Follow", :class => "idea_submit"%>
        <% end %>
      <% end %>


    </p>
  </div>
  <!--Posted Content Ends -->
  <!--Bottom Panel Starts -->
  <div class="d_panel_commentator2">
    <div class="fl">
      <% unless current_ideas.empty?%>
        <%= h "#{current_ideas.total_entries}"%>
        <%= h "idea#{current_ideas.total_entries == 1 ? '' : 's'}"%>
        <%=t("in_current")%>
      <% end %>

    </div>                   
  </div>
  <!--Bottom Panel Ends -->
  <!--Right Content Ends -->
</div>


<div class="b_divider"></div>
