- idea_count = @current_ideas.total_entries

= h "#{idea_count}"
%span.points= h "idea#{idea_count == 1 ? '' : 's'}" 
in this current.
= link_to 'Submit an idea!', params[:action] == "show" ? "#add_idea" : current_path(current, :anchor=>"add_idea")