%div
  #idea.currents-page.panel.section.idea.hentry
    .header
      %h2.entry-title=h "Current: #{@current.title}"
      %h4.posted
        =t("created")
        %abbr.published.time-relative== #{time_ago_in_words(@current.created_at)} ago
        =t("by")
        %span.vcard.author
          - if !@current.inventor.nil?
            = link_to h(@current.inventor.name), profile_path(@current.inventor), :class => @current.inventor.admin? ? 'fn url admin' : 'fn url'
        - unless @current.submission_deadline.nil?
          %br
          Submission Deadline:
          %strong= @current.submission_deadline
        %br
        Current Status:
        - if @current.closed?
          %strong closed
        - else
          %strong open
    .body
      .entry-content
        %p= user_formatted_text @current.description
      %div
        - if CurrentFollower.find_by_user_id_and_current_id(current_user.id,@current.id).nil?
          - form_tag current_follow_path do 
            = hidden_field_tag :current_id, @current.id
            = submit_tag "Follow" 
      %div
        = link_to "Followers(#{@current.current_followers.size})", followers_current_path(@current.id) unless @current.current_followers.empty?
        = link_to "Unfollow", unfollow_current_path(@current.id), :method => :delete unless @current.current_followers.empty? && CurrentFollower.find_by_user_id_and_current_id(current_user.id,@current.id).nil?

      .current-meta
        %div
          %h3 About This Current
          %ul.entry-meta
            %li.ideas= render :partial => 'idea_count', :locals => { :current_ideas => @current_ideas }
            #subscription
              = render :partial => 'subscription'
            %li.sharethis= render :partial => 'ideas/sharethis'
      .group.slate
        - if @current_ideas.empty?
          %h3#add_idea
            There are no ideas in this current.
            = link_to 'Submit an idea!', params[:action] == "show" ? "#add_idea" : current_path(current, :anchor=>"add_idea")
            %a{:name=>"add_idea"}
        - else
          = will_paginate @current_ideas

          %h3= render :partial => 'idea_count', :locals => { :current_ideas => @current_ideas }
          .ideas-list.inset.current-idea-list
            %div
              %div
                = render :collection => @current_ideas, :partial => 'ideas/idea', :controller => 'ideas'

          = will_paginate @current_ideas
      #current.group.slate
        - unless @current_ideas.empty?
          %h3#add_idea
            Submit another idea to this current
        =render :partial=>"ideas/new", :locals=>{:current=>@current}
    .footer
  %hr.hide
  #sidebar.aside
    = render :partial => "shared/sidebar"
